<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{> header}}
            <p>The {{title}} was created by {{name}} to get Weather.</p>

            <form>
                <label>Enter the Location: </label>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="geocodeData"></p>
            <p id="forecastData"></p>
        </div>
        {{> footer}}
        <script src="/js/client.js"></script>
    </body>
</html>